{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !{% endblock %}

{% block body %}
    <form method="post">
        <div class="dropdown-divider"></div>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 text-center font-weight-normal">Rentrez vos identifiants</h1>
        <div class="row">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="offset-md-3 col-md-6">
                <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
            </div>
            <div class="offset-md-3 col-md-6 mt-3 mb-3">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-lg btn-primary" type="submit">Connection</button>
                <div class="custom-control custom-switch mt-2">
                    <input type="checkbox" class="custom-control-input" id="customSwitch" name="_remember_me">
                    <label class="custom-control-label" for="customSwitch">Rester connecté</label>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
