{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <a href="{{ path('task_list') }}" class="btn btn-info">Toutes les tâches</a>
        <a href="{{ path('task_list', {'filter': "todo"}) }}" class="btn btn-warning">Tâches à faire</a>
        <a href="{{ path('task_list', {'filter': "done"}) }}" class="btn btn-success">Tâches terminées</a>
    </div>
{% endblock %}
